/* nieuwe styles */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: neue-haas-grotesk-display, sans-serif;
  padding: 0;
  overflow: hidden;
  background-color: black;
  color: white;
}

/* #title {
  color: blue;
  font-size: 0.5vw;
  filter: blur(1px);
  text-align: center;
} */

figure {
  margin: 0;
  position: relative;
}

img {
  width: 100%;
  object-fit: cover;
}

.timer {
  font-size: 7vw;
  margin-top: 44.5vh;
  padding-left: 4vw;
  color: white;
  text-align: left;
  width: 100vw;
  z-index: 10;
  position: fixed;
  font-weight: 100;

  /* filter: blur(1px); */
}

#page_enter {
  width: 100vw;
  height: 100vw;
  background-color: white;
  z-index: 2000;
  color: blue;
  position: fixed;
  text-align: center;
  padding-top: 22.5vw;
  filter: blur(2px);
}

#titlelarge {
  text-align: center;
  color: white;
  font-size: 0.5vw;
  margin-top: 16vw;
  font-size: 2vw;

  filter: blur(2px);
}

.description {
  padding: 5vw;
  font-size: 1.7vw;
  text-align: justify;
  width: 90vw;
  font-weight: lighter;
}
